/* Universal CSS */

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

.sixty {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
}

.two .sixty{
  border-right: 1px solid rgb(245, 245, 245);
}

.orien{
  border-bottom: 1px solid rgb(245, 245, 245); 
}

.forty {
  width:40%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.forty h4 {
  font-size: 1.2rem;
}

.forty p {
  font-size: 1rem;
  padding-bottom: .5rem;
}

.forty a {
  font-size: .5rem;
}

.sub-media{
  display: flex;
  flex-direction: row;
  padding:1rem;
}

.sub-content{
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  width:65%;
}

html{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

a { 
  text-decoration: none;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
}

nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.mobile-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 22rem;
  }

  nav.container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }

  .colmar-logo{
    display: none;
  }

  .menu ul.mobile-menu {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  header div span {
    display: none;
  }
  .colmar-logo{
    display: none;
  }

  .menu ul.mobile-menu {
    display: block;
  }

  header{
    height: 2rem;
  }
  .sixty{
    display:none;
  }
  .forty{
    width: 100%;
  }
  .forty .sub-media{
    display: block;
  }
  .medimg{
    display: none!important;
  }
  body > section.supporting.two > div.forty > div:nth-child(3){
    background-color: #ffffff!important;
  }
  
  .three{
    background-color: #ffffff!important;
  }

  .three p{
    display: none;
  }
  .three img{
    display: none;
  }
  .three-hold{
    flex-direction:column;
  }
  .sub-media-learn{
    margin: .2rem!important;
  }
  .sub-content2{
    background-color: #eee!important;
  }

  .four .forty .sub-media{
    display: none;
  }
  .mobvid{
    margin: 0;
    width: 100%;
  }
  .list{
    display:none;
  }
  footer{
    border: none!important;
    padding: 1rem 0 2rem;
  }
}


@media only screen and (min-width: 560px) {
  .mobimg{
    display:none;
  }
  .mobvid{
    display:none;
  }

}
/* Header */

header {
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin: 0;
  padding: 0;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.mobile-menu-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}


/* Main Content */

.supporting {
  display: flex;
   padding: 0 1.5rem;
  /*justify-content: space-between;*/
}

/* one */

.one {
  background-color: #E2E2E3;
}

.one .forty{
  justify-content:center;
}

.one a{
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #333;
  color: #FFF;
  border: 1px #333 solid;
  text-align: center;
}

.one a:hover{
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #FFF;
  color: #333;
  border: 1px #333 solid;
  text-align: center;
}

.banner{
  text-align: center;
}

/* two */

body > section.supporting.two > div.forty > div:nth-child(3){
  background-color: #eee;
}

/* three */

.three{
 /* background-color: #eee;
  text-align:center;*/
  padding: 2rem 3.5rem;
  background-color: rgb(245, 245, 245);
}

.three h1{
  /*background-color: #eee;*/
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.three-hold {
  display: flex;
}



.full{
  border: 1px solid black;
  margin: 0 auto;
}



/*body > section.supporting.three > div > div:nth-child(1),  had to resort to this but I know its not good 
body > section.supporting.three > div > div:nth-child(2){
  display: flex;
}*/

.sub-content2{
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;

}

.sub-content2 h4{
  padding: 0;
}

.sub-content2 p{
  padding: 0;
}

.sub-media-learn {
  flex-basis: 33%;
  margin: 1rem;
  background-color: white;

}

.sub-media-learn .sub-media-learn {
  width: 33%;
}

footer{
  border-top: 1px solid grey;
}

.bottom{
  display:flex;
  justify-content:space-between;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.list ul{
  margin-top:0;
  margin-bottom: 3rem;
}
